<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body { padding: 0; margin: 0; }
      body {
        font-family: "Trebuchet MS", "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #f2f7fa;
      }
      .topnav {
        float: top;
        overflow: inherit;
        background-color: #333;
        margin-left: 160px;
        width: auto;
      }


      .topnav span {
        float: left;
        align-content: center;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: inherit;
        font-size: 17px;
      }
      .topnav p {
        float: center;
        align-content: center;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: underline;
        font-size: 30px;
      }
      h1 {
        font-weight: 300;
        font-size: 40px;
        margin-bottom: 10px;
      }
      .subhead {
        font-size: 17px;
        line-height: 32px;
        font-weight: 300;
        color: #969A9C;
      }
      input {
        width: 300px;
        height: 50px;
        padding: 10px;
        border: 1px solid #479CCf;
        color: #575757;
        background-color: #ffffff;
        box-sizing: border-box;
        border-radius: 4px 0 0 4px;
        font-size: 18px;
        float: left;
      }
      table{
        border: 1;
        cellpadding: 20px;
        cellspacing: 20px;
        background-color: inherit;
        text-align: center;
      }
      #shop {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #shop td, #shop th {
          border: 1px solid #ddd;
          padding: 8px;
      }
      #shop tr:nth-child(even){background-color: #f2f2f2;}
      #shop tr:hover {background-color: #ddd;}
      #shop th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #333;
        color: white;
      }
      button {
        color: #ffffff;
        background-color: #333;
        width: 100px;
        height: 50px;
        padding: 10px 20px 10px 20px;
        box-sizing: border-box;
        border: none;
        text-shadow: 0 1px 0 #3188bc;
        font-size: 18px;
        cursor: pointer;
        border-radius: 4px 4px 4px 4px;
      }
      button:hover {
        background-color: #479CCf;
      }
      form {
        display: block;
      }
      .container {
        text-align: center;
        margin-top: 100px;
        padding: 20px;
        color: #333;
      }
      .container__form {
        width: 400px;
        margin: auto;
      }
       .container__form2 {
        width: 400px;
        margin: 100px auto;
      }
      .sidenav {
          height: 100%;
          width: 160px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 20px;
      }

      .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
      }

      .sidenav a:hover {
          color: #f1f1f1;
      }

      .main {
          margin-left: 160px; /* Same as the width of the sidenav */
          font-size: 28px; /* Increased text to enable scrolling */
          padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
          .topnav{padding-right: 15px; }
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
      }
    </style>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">

    </div>
    <div class="topnav">
      <p style="margin-top: 0px;margin-bottom: 0px;"> Central Admin </p>
    </div>

    <div class="container">
      <center>
      <div style="overflow-x: inherit;" class="main">
        <div id="home">

        </div>
        <div>

        </div>
      </div>
    </center>

      <script>
      var shop =<%- JSON.stringify(shop)%>
      console.log(JSON.stringify(shop));
      var home =   '<header><h1><p style = "float: center;align-content: center;  color: #333;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 30px;"> Welcome to ' + shop + '</p></h1></header><a href="shops">Change Shop</a>'
      document.getElementById("home").innerHTML = home;
      var side =   '<p></p><br><br><br> <a href="orders?shop=' + shop + '">Orders</a> <a href="products?shop=' + shop + '">Products</a> <a href="customers?shop=' + shop + '">Customers</a> <a href="reports?shop=' + shop + '">Reports</a>';
      document.getElementById("mySidenav").innerHTML = side;
        </script>
    </div>
  </body>
</html>
